# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter / Colab
.ipynb_checkpoints/

# Model files (IMPORTANT)
*.joblib
*.pkl

# VS Code
.vscode/

# PyCharm
.idea/

# Build files
build/
dist/
*.egg-info/
