# Git
.git
.gitignore

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Tests
.coverage
pytest_cache/

# Large model files (optional)
*.h5
*.keras
*.pb
