# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# ML models
*.h5
*.keras
*.pkl

# Tokenizer files
*.json

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Testing
.coverage
pytest_cache/
