# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# Build
build/
dist/
*.egg-info/
